<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8"/>

		<title>AMI wizard</title>

		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/wizard.js"></script>

		<style type="text/css">
			.navbar-light {
				background: rgb(255, 255, 255) url("images/stripe1.png");
			}

			.modal-header {
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				background: rgb(255, 255, 255) url("images/stripe1.png");
			}

			.modal-footer {
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				background: rgb(245, 245, 245) url("images/stripe2.png");
			}
		</style>
	</head>
	<body style="background: white url('images/background.jpg') fixed; background-size: cover;">

		<nav class="navbar navbar-light navbar-expand-md border-bottom">
			<span class="navbar-brand py-0">
				<img src="images/logo.png" alt="AMI" style="height: 38px;" />
			</span>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#ami_navbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="ami_navbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="mailto:ami@lpsc.in2p3.fr"></i> Contact</a></li>
					<li class="nav-item"><a class="nav-link" href="http://www.cern.ch/ami/" target="_blank">About</a></li>
				</ul>
			</div>
		</nav>

		<div class="modal-dialog modal-lg mb-2">
			<div class="modal-content">

				<div class="modal-header px-3 py-2">
					<h3 class="modal-title"><i class="fa fa-magic"></i> AMI wizard</h3>
				</div>

				<div class="modal-body">

					<div class="row">

						<div class="col-md-2 text-center text-success" style="padding-top: 20px;">
							<i class="fa fa-check fa-5x"></i>
						</div>

						<div class="col-md-10">

							<h2>Congratulations!</h2>

							<p style="font-size: 12pt;">You have successfully configured your AMI server.</p>

							<div class="row">

								<div class="col-md-6">

									<h3><i class="fa fa-arrow-circle-right"></i> Now What?</h3>

									<ul>
										<li>Customize your home page.</li>
										<li>Add your catalogs.</li>
										<li>Enjoy!</li>
									</ul>

								</div>

								<div class="col-md-6">

									<h3><i class="fa fa-arrow-circle-right"></i> Documentation</h3>

									<ul>
										<li><a href="" target="_blank"><i class="fa fa-book"></i> Core</a></li>
										<li><a href="" target="_blank"><i class="fa fa-book"></i> Web Framework</a></li>
										<li><a href="" target="_blank"><i class="fa fa-book"></i> Lightweight clients, REST API</a></li>
									</ul>

								</div>

							</div>

						</div>

					</div>

				</div>

				<div class="modal-footer px-3 py-2">
					<!-- empty -->
				</div>

			</div>
		</div>

		<p class="text-center">Copyright © 2001-{{YEAR}}, <a href="http://lpsc.in2p3.fr/" target="_blank">CNRS/LPSC</a>. All right reserved.</p>

	</body>
</html>