<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8"/>

		<title>AMI wizard</title>

		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/wizard.js"></script>

		<style type="text/css">
			.navbar-light {
				background: rgb(255, 255, 255) url("images/stripe1.png");
			}

			.modal-header {
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				background: rgb(255, 255, 255) url("images/stripe1.png");
			}

			.modal-footer {
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				background: rgb(245, 245, 245) url("images/stripe2.png");
			}
		</style>
	</head>
	<body style="background: white url('images/background.jpg') fixed; background-size: cover;">

		<nav class="navbar navbar-light navbar-expand-md border-bottom">
			<span class="navbar-brand py-0">
				<img src="images/logo.png" alt="AMI" style="height: 38px;" />
			</span>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#ami_navbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="ami_navbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="mailto:ami@lpsc.in2p3.fr"></i> Contact</a></li>
					<li class="nav-item"><a class="nav-link" href="http://www.cern.ch/ami/" target="_blank">About</a></li>
				</ul>
			</div>
		</nav>

		<div class="modal-dialog modal-lg mb-2">
			<form method="post" action="" class="modal-content">

				<div class="modal-header px-3 py-2">
					<h3 class="modal-title"><i class="fa fa-magic"></i> AMI wizard</h3>
				</div>

				<div class="modal-body">

					<div class="row">

						<div class="col-md-2 text-center text-primary" style="padding-top: 20px;">
							<i class="fa fa-sun-o fa-5x"></i>
						</div>

						<div class="col-md-10">

							<h2>Welcome to your new AMI server.</h2>

							<p style="font-size: 12pt;">This wizard will guide throught the basic configuration of the service. You can also do the same by editing "<strong>{{AMI_CONFIG_PATH}}/AMI.xml</strong>" directly.</p>

						</div>

					</div>

					<input type="hidden" name="Level" value="2" />

				</div>

				<div class="modal-footer px-3 py-2">
					<button type="submit" class="btn btn-outline-primary"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button>
				</div>

			</form>
		</div>

		<p class="text-center">Copyright © 2001-{{YEAR}}, <a href="http://lpsc.in2p3.fr/" target="_blank">CNRS/LPSC</a>. All right reserved.</p>

		<script type="text/javascript">

			$('.amitt').tooltip({delay: {show: 500, hide: 100}});

		</script>

	</body>
</html>