<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>

		<title>AMI wizard</title>

		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-icons.min.css" />

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/wizard.js"></script>

		<style>
			.navbar-light {
				background: rgb(255, 255, 255) url("images/stripe1.png");
			}

			.modal-header {
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				background: rgb(255, 255, 255) url("images/stripe1.png");
			}

			.modal-footer {
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				background: rgb(245, 245, 245) url("images/stripe2.png");
			}
		</style>
	</head>
	<body style="background: white url('images/background.jpg') fixed; background-size: cover;">

		<nav class="navbar navbar-light navbar-expand-md border-bottom">
			<div class="container-fluid">
				<span class="navbar-brand py-0">
					<img src="images/logo.png" alt="AMI" style="height: 38px;" />
				</span>
				<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#ami_navbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="ami_navbar">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="mailto:ami@lpsc.in2p3.fr">Contact</a></li>
						<li class="nav-item"><a class="nav-link" href="https://www.cern.ch/ami/" target="_blank">About</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="modal-dialog modal-lg shadow-lg mb-2">
			<form method="post" action="" class="modal-content">

				<div class="modal-header py-2">
					<h3 class="modal-title"><i class="bi bi-magic"></i> AMI wizard</h3>
				</div>

				<div class="modal-body">

					<div class="row">

						<div class="col-md-2 text-center text-primary">
							<i class="bi bi-sun" style="font-size: 48pt"></i>
						</div>

						<div class="col-md-10">

							<h2>Welcome to your new AMI server.</h2>

							<p style="font-size: 12pt;">This wizard will guide throught the basic service configuration. You can also get the same thing by directly editing "<strong>{{AMI_CONFIG_PATH}}/AMI.xml</strong>".</p>

						</div>

					</div>

					<input type="hidden" name="Level" value="2" />

				</div>

				<div class="modal-footer py-1">
					<button type="submit" class="btn btn-outline-primary"><i class="bi bi-chevron-right"></i><i class="bi bi-chevron-right"></i></button>
				</div>

			</form>
		</div>

		<div class="text-center mb-4">
			<span class="badge rounded-pill bg-dark">
				Copyright © 2001-{{YEAR}}, <a class="text-white" href="https://lpsc.in2p3.fr/" target="_blank">CNRS/LPSC</a>. All right reserved.
			</span>
		</div>

	</body>
</html>
