<?xml version="1.0" encoding="UTF-8"?>

<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

	<appender name="AMIFATAL" class="net.hep.ami.LogSingleton$FatalAppender" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{dd/MM/yyyy HH:mm:ss,SSS} [%thread] %level %logger{36} - %m %throwable{2}%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{dd/MM/yyyy HH:mm:ss,SSS} [%thread] %level %logger{36} - %m %throwable{2}%n</pattern>
		</encoder>
		<file>ami.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>ami.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
		</rollingPolicy>
	</appender>

	<root level="INFO">
		<appender-ref ref="AMIFATAL" />

		<appender-ref ref="STDOUT" />

		<appender-ref ref="FILE" />
	</root>

	<logger name="com.zaxxer.hikari" level="DEBUG">
	</logger>

	<logger name="net.spy.memcached" level="OFF">
	</logger>

</configuration>
