<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE logback:configuration>

<configuration>

	<appender name="AMIFATAL" class="net.hep.ami.LogSingleton$FatalAppender" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{dd/MM/yyyy HH:mm:ss,SSS} [%thread] %-5level %logger{36} - %m %throwable{2}%n</pattern>
		</encoder>
	</appender>
<!--
	<appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{dd/MM/yyyy HH:mm:ss,SSS} [%thread] %-5level %logger{36} - %m %throwable{2}%n</pattern>
		</encoder>
		<file>ami.log</file>
		<append>true</append>
	</appender>
-->
	<root level="WARN">
		<appender-ref ref="AMIFATAL" />
<!--
		<appender-ref ref="LOGFILE" />
-->
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
