<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         metadata-complete="true">

	<!--*************************************************************************************************************-->

	<distributable />

	<!--*************************************************************************************************************-->

	<display-name>AMI Server</display-name>

	<!--*************************************************************************************************************-->

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

	<!--*************************************************************************************************************-->

	<servlet>
		<servlet-name>REST</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>net.hep.ami.rest</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.container.ContainerResponseFilters</param-name>
			<param-value>net.hep.ami.rest.filter.AMIFilter</param-value>
		</init-param>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>net.hep.ami.rest.app.AMIApp</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>REST</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<!--*************************************************************************************************************-->

	<servlet>
		<servlet-name>FrontEnd</servlet-name>
		<servlet-class>net.hep.ami.servlet.FrontEnd</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>FrontEnd</servlet-name>
		<url-pattern>/FrontEnd/*</url-pattern>
	</servlet-mapping>

	<!--*************************************************************************************************************-->

	<servlet>
		<servlet-name>Setup</servlet-name>
		<servlet-class>net.hep.ami.servlet.Setup</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Setup</servlet-name>
		<url-pattern>/Setup/*</url-pattern>
	</servlet-mapping>

	<!--*************************************************************************************************************-->
<!--
	<session-config>
		<cookie-config>
			<secure>true</secure>
		</cookie-config>
	</session-config>
-->
	<!--*************************************************************************************************************-->

</web-app>
