<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app metadata-complete="true">

  <display-name>AMI Server</display-name>

  <servlet>
    <servlet-name>FrontEnd</servlet-name>
    <servlet-class>net.hep.ami.servlet.FrontEnd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontEnd</servlet-name>
    <url-pattern>/FrontEnd/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Setup</servlet-name>
    <servlet-class>net.hep.ami.servlet.Setup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Setup</servlet-name>
    <url-pattern>/Setup/*</url-pattern>
  </servlet-mapping>

</web-app>
